
html {
	font-family: 'Trebuchet MS', sans-serif, Arial, Helvetica;
}
body {
	background-color: rgb(19, 19, 19);
	margin: 0;
}
#background {
	background: url(../images/bg-body.jpg);
	background-attachment: fixed;
	background-clip: border-box;
	background-color: rgb(19, 19, 19);
		background-origin: padding-box;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: auto;
}
#page {
	width: 800px;
	margin: 0 auto;
}

img {
	border: 0;
}


/*------------------------------ HEADER ------------------------------*/
#header {
	background: url(../images/Logo.png) no-repeat center top;
	min-height: 300px;
	margin-bottom: 0px;
}

#divFlags2{
position: absolute;	
margin-left: 800px;
margin-top: -130px;
}

/** Logo **/
#logo {
	clear: both;
	display: block;
	height: 150px;
	width: 950px;
	margin: 0 auto;
}

/**Newsfeed**/
#divNews {
border-style: solid;
border-color: #0099FF;
padding: 10px;
}
#divNews h3 {
	color: #FFFFFF;
	line-height: 30px;
	margin: 0 0 20px 0px;
	padding: 0 0 10px;
}
#divNews p {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0 0 20px;
}

/** Navigation **/


#navigation {
	height: 40px;
	list-style-type: none;
	margin: 0;
	padding: 30px 20px 12px 0;
}
#navigation li {
	float: left;
	font-family: 'Arial';
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	width: 150px;
	text-align: center;
}
#navigation a {
	color: #FFFFFF;
	text-decoration: none;
}
#navigation a:hover, #navigation li.selected a {
	color: #0099FF;
}

/** Navigation 2 **/
#navigation2 {
	height: 40px;
	list-style-type: none;
	margin-top: -100px;
	padding: 40px 20px 12px 90px;
}
#navigation2 li {
	float: left;
	font-family: 'Arial';
	font-size: 17px;
	font-weight: bold;
	line-height: 40px;
	width: 150px;
	text-align: center;
}
#navigation2 a {
	color: #FFFFFF;
	text-decoration: none;
}
#navigation2 a:hover, #navigation li.selected a {
	color: #0099FF;
}

/** Navigation 3 **/
#navigation3 {
	height: 40px;
	list-style-type: none;
	margin-top: -100px;
	padding: 40px 20px 12px 10px;
}
#navigation3 li {
	display: inline;
	float: left;
	font-family: 'Arial';
	font-size: 17px;
	font-weight: bold;
	line-height: 40px;
	width: 150px;
	text-align: center;
}
#navigation3 a {
	color: #FFFFFF;
	text-decoration: none;
}
#navigation3 a:hover, #navigation li.selected a {
	color: #0099FF;
}

#navigation3 li a.selected:link
{
color: #0099FF;
text-decoration: none;
}

/** Navigation 4 **/
#navigation4 {
	height: 40px;
	list-style-type: none;
	margin-top: -100px;
	padding: 40px 20px 12px 50px;
	
}
#navigation4 li {
	display: inline;
	float: left;
	font-family: 'Arial';
	font-size: 17px;
	font-weight: bold;
	line-height: 40px;
	padding-top: 10px;
	margin-left: 30px;
	padding-left: 0px;
	text-align: center;

}
#navigation4 a {
	color: #FFFFFF;
	text-decoration: none;
}
#navigation4 a:hover, #navigation li.selected a {
	color: #0099FF;
}

#navigation4 li a.selected:link
{
color: #0099FF;
text-decoration: none;
}

/** Navigation 5 **/
#navigation5 {
	height: 40px;
	list-style-type: none;
	margin-top: -100px;
	padding: 40px 20px 12px 210px;
}
#navigation5 li {
	float: left;
	font-family: 'Arial';
	font-size: 17px;
	font-weight: bold;
	line-height: 40px;
	width: 150px;
	text-align: center;
}
#navigation5 a {
	color: #FFFFFF;
	text-decoration: none;
}
#navigation5 a:hover, #navigation li.selected a {
	color: #0099FF;
}

}
/*------------------------------ CONTENTS ------------------------------*/


#contents {
	margin: 0 0 40px;
	padding: 0 5px;
}

#main {
	background: url(../images/border-dashed.jpg) repeat-x left bottom;
	margin: 0 0 30px;
	padding: 0 0 30px;
}

#main h3 {
	color: #FFFFFF;
	background: url(../images/border-dashed.jpg) repeat-x left bottom;
	line-height: 30px;
	margin: 0 0 20px 0px;
	padding: 0 0 10px;
}

#main h3 li{
text-decoration: none;
display: inline;
padding-left: 170px;
}

#main a {
text-decoration: none;
color: #FFFFFF;

}

#main p {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0 0 20px;
}
#main p a {
	color: #FFFFFF;
}
#main ul li {
	color: #FFFFFF;
}
#main address {
	color: #ffffff;
	font-style: normal;
	width: 350px;
	margin: 0 auto;
	text-align: center;
}
#main address span {
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	line-height: 20px;
	margin: 20px 0;
	width: 350px;
}
#main img {
	border: 0px solid #0099FF;
}

#main ol {
color: #FFFFFF;
}


/*------------------------------ Main 2 ------------------------------*/
#main2 {
	background: url(../images/border-dashed.jpg) repeat-x left bottom;
	padding: 0 0 20px;
	position: relative;
	margin-top: 50px;
}

#main2 span {
	float: left;
	display: block;
	height: 253px;
	width: 207px;
	margin-bottom: 6px;
	margin-right: 40px;
	padding: 6px 6px 15px;
}
#main2 span img {
	border: 2px solid #0099FF;
}
#main2 h3 {
	color: #FFFFFF;
	background: url(../images/border-dashed.jpg) repeat-x left bottom;
	line-height: 30px;
	width: 350px;
	margin: 0 0 20px 258px;
	padding: 0 0 10px;
}
#main2 p {
	color: #FFFFFF;
	max-height: 160px;
	line-height: 20px;
	margin: 0 0 20px 258px;
	padding: 0 0 20px;
	overflow: hidden;
}
#main2 p a {
	color: #FFFFFF;
}
#main2 ul li {
	color: #FFFFFF;
	max-height: 100px;
	line-height: 20px;
	margin: 0 0 20px 258px;
	padding: 0 0 5px;
}


/*-------Main3---------*/
#main3 {
	background: url(../images/border-dashed.jpg) repeat-x left bottom;
	margin: 0 0 30px;
	padding: 0 0 30px;
	height: 400px;
}

#main3 h3 {
	color: #FFFFFF;
	background: url(../images/border-dashed.jpg) repeat-x left bottom;
	line-height: 30px;
	margin: 0 0 20px 0px;
	padding: 0 0 10px;
	
}
#main3 p {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0 0 20px;
}
#main3 p a {
	color: #FFFFFF;
}
#main3 ul li {
	color: #FFFFFF;
}
#main3 address {
	color: #ffffff;
	font-style: normal;
	width: 350px;
	margin: 0 auto;
	text-align: center;
}
#main3 address span {
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	line-height: 20px;
	margin: 20px 0;
	width: 350px;
}
#main3 img {
	border: 0px solid #0099FF;
}

#divFlags img {
position: inherit;
padding: 40px;
margin-top: -100px;

}


/*------------------------------ FOOTER ------------------------------*/
#footer {
	padding: 0 5px;
}
#description {
	background: url(../images/border-dashed.jpg) repeat-x left bottom;
	margin: 0 0 0px;
	padding: 0 0 50px;
}
#description div {
	float: left;
	width: 180px;
	margin-right: 50px;
}
#description div a.logo {
	background: url(../images/logo-nith.png) no-repeat;
	display: block;
	height: 40px;
	width: 175px;
	margin: 0 0 10px;
}
#description div span {
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	line-height: 20px;
}
#description div span a {
	color: #FFFFFF;
	text-decoration: none;
}
#description p {
	color: #FFFFFF;
	font-size: 13px;
	line-height: 20px;
	margin: 20px 0;
	text-align: justify;
}
#description p a {
	color: #FFFFFF;
}

#description img {
position: absolute;
margin-top: -50px;
margin-left: 380px;


}



